
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<iframe class="sketchfab-model" src="https://sketchfab.com/models/874cbc0fea29432397224bf84d8cd486/embed?autostart=1&amp;ui_infos=0"
        frameborder="0" allowfullscreen=""
        mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>