@{ 

}
<div class="table-responsive">
    <table class="table cart-table">
        <thead>
            <tr>
                <th class="width-1">Hình ảnh</th>
                <th class="width-2">Tên sản phẩm</th>
                <th class="width-3">Đơn giá</th>
                <th class="width-4">Số lượng</th>
                <th class="width-5">Thành tiền</th>
                <th class="width-6">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr class="carttr_1">
                <td>
                    <div class="cartpage-image">
                        <a href="#"><img alt="" src="/Content/ThyNeighbor/img/cart.jpg"></a>
                    </div>
                </td>
                <td>
                    <div class="cartpage-pro-dec">
                        <a href="#">PRODUCT NAME DEMO</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </td>
                <td>
                    <div class="cart-page-price">
                        <p>$172.00</p>
                    </div>
                </td>
                <td>
                    <div class="cart-pro-quantity pro-quantity">
                        <input type="text" value="0" name="qtybutton" class="pro-quantity-box">
                    </div>
                </td>
                <td>
                    <div class="subtotal">
                        <p>$172.00</p>
                    </div>
                </td>
                <td>
                    <div class="cartpage-delete-item">
                        <a title="Remove item" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </td>
            </tr>
            <tr class="carttr_2">
                <td>
                    <div class="cartpage-image">
                        <a href="#"><img alt="" src="/Content/ThyNeighbor/img/cart.jpg"></a>
                    </div>
                </td>
                <td>
                    <div class="cartpage-pro-dec">
                        <a href="#">PRODUCT NAME DEMO</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </td>
                <td>
                    <div class="cart-page-price">
                        <p>$172.00</p>
                    </div>
                </td>
                <td>
                    <div class="cart-pro-quantity pro-quantity">
                        <input type="text" value="0" name="qtybutton" class="pro-quantity-box">
                    </div>
                </td>
                <td>
                    <div class="subtotal">
                        <p>$172.00</p>
                    </div>
                </td>
                <td>
                    <div class="cartpage-delete-item">
                        <a title="Remove item" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
