@{
    Layout = "~/Views/Shared/_ProductLayoutDDV.cshtml";
}
<section class="coming_soon bg_s">
    <div class="container">
        <h2>Our site is under construction our website which will be ready soon.</h2>
        <div class="countdown"></div>
        <p>Copyrights 2019 <a href="/">Data Design</a> Viet Nam</p>
    </div>
    <div class="shap_s">
        <img src="/Content/datadesign-product/images/shap/c-shap-2.png" alt="" class="s_shap_1">
        <img src="/Content/datadesign-product/images/shap/c-shap-3.png" alt="" class="s_shap_2">
    </div>
</section>