
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HOME SLIDER -->
<!-- Page Banner Start -->
<div class="page-banner padding-120 fix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Tin Tức</h1>
            </div>
        </div>
    </div>
</div><!-- Page Banner End -->
<div class="page-breadcrumb fix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">Trang Chủ</a></li>
                    <li><span>Blog</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area Start -->
<div class="blog-page page margin-70 fix">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/1.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/2.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/3.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/4.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/5.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/6.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/7.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/8.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/9.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/10.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/1.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12">
                <!-- Single Blog -->
                <div class="single-blog fix">
                    <div class="image">
                        <a href="blog-details.html"><img src="img/blog/2.jpg" alt="" /></a>
                    </div>
                    <div class="content fix">
                        <h2><a href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua</p>
                    </div>
                    <div class="blog-foot fix">
                        <a href="#" class="read-more float-left">Xem thêm</a>
                        <span class="blog-date float-right">24 Feb 2016</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="paginations text-center">
                    <ul>
                        <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li>. . . . .</li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">11</a></li>
                        <li><a href="#">12</a></li>
                        <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- Blog Area End -->
